[mysqld]
host-cache-size=0
skip-name-resolve
datadir=/var/lib/mysql
socket=/tmp/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql
slow_query_log=1
slow-query-log-file=/var/lib/mysql/mysql-slow.log
pid-file=/var/run/mysqld/mysqld.pid
lower_case_table_names=1

[client]
socket=/tmp/mysql.sock

!includedir /etc/mysql/conf.d/