<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>抱歉，站点已暂停</title>
    <style>
        html,body,div,h1,*{margin:0;padding:0;}
        body{
            background-color:#fefefe;
            color:#333
        }
        .box{
            padding-top:160px;
            width:580px;
            margin:0 auto;
            text-align:center;
        }
        h1{
            font-size:20px;
            text-align:center;
            margin-top:5%;
            font-weight:normal;
        }

    </style>
</head>

<body>
<div class="box">
    <svg width="150" height="150" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" ><path fill="currentColor" d="M512 64a448 448 0 1 1 0 896 448 448 0 0 1 0-896m0 393.664L407.936 353.6a38.4 38.4 0 1 0-54.336 54.336L457.664 512 353.6 616.064a38.4 38.4 0 1 0 54.336 54.336L512 566.336 616.064 670.4a38.4 38.4 0 1 0 54.336-54.336L566.336 512 670.4 407.936a38.4 38.4 0 1 0-54.336-54.336z"></path></svg>
    <h1>抱歉！该站点已经被管理员停止运行，请联系管理员了解详情！</h1>
</div>
</body>
</html>